<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585110517299-hq16l32o84l53ov2qt8sc4nt7e317k91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585110517299-hq16l32o84l53ov2qt8sc4nt7e317k91</string>
	<key>API_KEY</key>
	<string>AIzaSyDduLLoBr-sTREoHzbZOBpd-pSfk31bwYo</string>
	<key>GCM_SENDER_ID</key>
	<string>585110517299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.servicehub</string>
	<key>PROJECT_ID</key>
	<string>service-hub-13840</string>
	<key>STORAGE_BUCKET</key>
	<string>service-hub-13840.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585110517299:ios:d4be5887ec8227eecb9546</string>
</dict>
</plist>