<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964052316605-se9hbtutaf3lq3kb54fh7ruhv0n2uvjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964052316605-se9hbtutaf3lq3kb54fh7ruhv0n2uvjh</string>
	<key>API_KEY</key>
	<string>AIzaSyAY2ziyJCkXz7ZBM01p7mT-hC9htw6pLK4</string>
	<key>GCM_SENDER_ID</key>
	<string>964052316605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.servicehub.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>service-hub-af186</string>
	<key>STORAGE_BUCKET</key>
	<string>service-hub-af186.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964052316605:ios:255a74a3b7ebfba6a522d4</string>
</dict>
</plist>